@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Inter", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #f1f5f9;
  overflow-y: scroll;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  background-color: #e2e8f0;
  padding: 2rem;
  border-radius: 0.3rem;
}

.floor-number {
  font-weight: 600;
  font-size: large;
}

.form h1 {
  text-align: center;
  text-decoration: dotted;
}

.floors {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: scroll;
  padding: 1rem;
}

.floors .floor {
  display: flex;
  align-items: center;
  height: 5rem;
  gap: 2rem;
  border-bottom: 1px solid #a1a1aa;
}

.lift {
  order: 10;
  width: 4rem;
  height: 5rem;
  background-color: gray;
  border-top-right-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
  transition: transform 2.5s ease-in-out;
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  margin: 0.5rem;
}

.door {
  position: absolute;
  height: 5rem;
  width: 1.9rem;
  transition: all 2.5s ease-in-out;
}

.left-door {
  background-color: #1e293b;
  top: 0;
  left: 0;
}

.right-door {
  background-color: #1e293b;
  top: 0;
  right: 0;
}

.left-move {
  transform: translateX(-100%);
}
.right-move {
  transform: translateX(100%);
}

.move {
  transition: transform 2.5s ease-in-out;
  transform: translateY(-6rem);
}

.no-lift {
  width: 4rem;
  order: 10;
}

.up-button {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}

.back-icon {
  height: 1.5rem;
  width: 1.5rem;
  color: #ffffff;
}

.back-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 800;
  font-size: 14px;
  width: 8rem;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  background-color: #93c5fd;
  color: #ffffff;
  border: none;
  border-radius: 0.5rem;
}

input {
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-size: large;
  background-color: none;
  border: 1px solid black;
  outline: none;
}

#generateFloors {
  padding: 0.5rem 2rem;
  font-weight: bold;
  background-color: #1e293b;
  border: none;
  color: #ffffff;
  border-radius: 0.2rem;
  cursor: pointer;
}
